<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sotify</title>
</head>
<body>
    <h1>Url</h1>
    <form action="/send" method="POST">    
        <label for="inputString">mix url:</label>
        <input type="text" id="inputString" name="url" placeholder="Type your url here">
        <label for="inputString">spotify play list ID:</label>
        <input type="text" id="inputString" name="sp_url" placeholder="Type The ID">
        <button  type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
        <p id="displayArea"></p>
    </form>
    
</body>
</html>