<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synco</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main_box">
        
        <form action="/send" method="POST" class="form">    
            <label for="inputString">mix url</label>
            <input type="text" id="inputString" name="url" placeholder="Type your url here">
            <label for="inputString">spotify play list ID</label>
            <input type="text" id="inputString" name="sp_url" placeholder="Type The ID">
            <button  type="submit" class="button">Submit</button>
            <p id="displayArea"></p>
        </form>
    </div>
</body>
</html>